<!-- <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->

<div class="modal-body">

  <u><h2>What is Trait?</h2></u>
  <p>
 <strong>Our App called Trait allows the user to able to figure out what kind of message their linkedin profile or tweets from their Twitter is sending to the propective recuriter or company. Trait uses linguistic analytics to extract cognitive and social characteristics, including Big Five, Needs, and Values, from text. These insights help businesses to understand their clients' preferences and improve customer satisfaction by anticipating customer needs and recommending future actions. This allows businesses to improve client acquisition, retention, and engagement, and to strengthen relations with their clients.</strong>

</p>

</div>