

                   <div class="page-header title101" align="center"><i> <h1>Welcome to Trait<br><small>Discover The Person Behind the Text</small></h1></i>
                   </div>
                 
<div layout="row" layout-wrap>
    <div flex>
        <div class="intro-headerLinkdin">
           
                <div class="intro-message">
                    <a ng-click="openModal()" class="btn btn-twitter"> What is Trait?</a>
                    <h3>
                    What Does your Linkedin<br> Profile say about you?
                    </h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <form class="form" name="form" ng-submit="login(form)" novalidate="">
                                <button class="btn btn-default btn-lg" ng-click="loginOauth('linkedin')"><span class="network-name">Connect With Linkedin</span></button>
                                </form><a class="btn btn-twitter" ng-click="loginOauth('linkedin')"> Connect with Linkedin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
        </div>
        <div flex>
            <div class="intro-headerTwitter">
               
                    <div class="intro-message">
                        
                        <a ng-click="openModal()" class="btn btn-twitter"> What is user-modeling?</a>
                        <h3>
                        Explore User-Modeling<br> thru Twitter
                        </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <form class="form" name="form" ng-submit="login(form)" novalidate="">
                                    <a href="/tweetdata"> <button class="btn btn-default btn-lg"  ><span class="network-name">Explore With Twitter</span></button></a>
                                    </form><a class="btn btn-twitter" href="/tweetdata"> Explore with Twitter</a>
                                </li>
                            </ul>
                        </div>
                   
                </div>
            </div>
            <div flex>
                <div class="intro-headerYour">
                 
                        <div class="intro-message">
                            
                            <a ng-click="openModal()" class="btn btn-twitter"> Discover Trait</a>
                            <h3>
                            Explore User-Modeling<br> with any text
                            </h3>
                            <hr class="intro-divider">
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <form class="form" name="form" ng-submit="login(form)" novalidate="">
                                        <a href="/freeWrite"> <button class="btn btn-default btn-lg"  ><span class="network-name">Write Your Own Trait</span></button></a>
                                        </form><a class="btn btn-twitter" href="/freeWrite"> Write Your Own Trait</a>
                                    </li>
                                </ul>
                            </div>
                       
                    </div>
                </div>
            </div>